div span:first-child {
    color:transparent;
}
.md-header-nav__topic:first-child::before{
    /* content: url(https://www.rico.com.vc/assets/css/images/logo.png); */
    /* background-image:url(https://www.rico.com.vc/assets/css/images/logo.png); */
    position: absolute;
    background-image: url('https://www.rico.com.vc/assets/css/images/logo.png');
    background-size: 70px;
    margin-top:6px;
    display: inline-block;
    width: 69.9999999999999px;
    height: 28.99999999px;
    content:"";
}

.md-flex__cell .md-logo i{
    color:transparent;
}
.md-flex__cell .md-logo i:after{
    position: absolute;
    background-image: url('https://www.rico.com.vc/assets/css/images/favicon.png');
    background-size: 40px;
    display: inline-block;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    content:"";
}

.md-header {
    background: rgba(10,7,66,1);
}
.md-header:before{
    content:'';
    position:absolute;
    top:0;
    background: linear-gradient(to right,rgba(10,7,66,1), rgba(255,61,0,0.8));
    height:100%;
    width:500px;
    right:0;
}


.md-tabs{
    background: rgba(10,7,66,1);
    color: white;
}

.md-tabs__inner:after{
    content:'';
    position:absolute;
    top:0;
    background: linear-gradient(to right,rgba(10,7,66,1), rgba(255,61,0,0.8));
    width:500px;
    height: 96px;
    right:0;
    border-left: 10px solid rgba(255,61,0,0.1);
    border-bottom-left-radius: 80%;

}


article {
    height: 100%;
}

article h1{
    text-align:center;
}


article img{
    display:block;
    margin: 0 auto;
    justify-content:center;
    border-radius: 90px;

}

.md-footer-nav {
    background-color: rgba(10,7,66,1);
}

.md-footer-meta{
    background-color: #FF2400;
}

footer {
    margin-top: 100px;

}